numpy>=1.19.2,<2.0.0
transformers==4.43.2
transformers_stream_generator
sympy
decorator
scipy
sentencepiece
einops
datasets>=2.16.0
pybind11
accelerate
six
protobuf
peft==0.7.1
tiktoken
ray==2.10.0
tensordict==0.1.2
hydra-core==1.3.2
codetiming
bitsandbytes-npu-beta==0.45.3
word2number
latex2sympy2
antlr4-python3-runtime==4.9.*